body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.placeholder-container {
    width: 100vw;
    margin: 15% 0%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cfa-logo {
    width: 100%;
}

.placeholder-container h1 {
    margin: 0;
    font-size: 64px;
}